<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>科技文章推送</title>
<link href="/stylesheets/det.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="top">
		<div id="menu">
			<ul>
		<li><img src="../images/digitalmedia.jpg" /></li>
		<li><a href="/">首页</a></li>
		<li><a href="det">科技资讯</a>
			<!--<ul class="sub-menu"><li>实验工具</li>
			<li>资源下载专区</li>
			</ul>-->
				</li>
		<li><a href="">头像设置</a></li>
		<li><a href="">资源收集</a></li>
		<!--<li>帐号绑定</li>-->
		<li><a href="">留言版</a></li>
		<!--<li>我的二维码</li>-->
		<li><a href="/login">退出</a>
			/<a href="/register">注册</a></li>
		</ul>
		</div>	
	</div>
	<div id="blog-content">
		<p id="siztitle">测试文章标题</p>
		<p style="margin-top: 50px;color: grey"><img src="../images/root.gif" />测试<img style="margin-left: 20px">2017/12/17</p>
		<p class="rev" style="color: grey">简介</p>
		<p class="content">测试文章测试文章测试文章测试文章</p>
		
	</div>
	<div>
	
	
	</div>
	<div id="bottom">
	<div id="bottom-content">
		<div id="content-left">
			<p><img src="../images/群二维码.png" height="30%" width="30%" ></p>
			<p>网站位置 | 关于我们 | 意见反馈</p>
		</div>
		<div id="content-right">
			<p>友情链接</p>
			<p><a href="https://www.csdn.net/"	target="_blank">CSDN</a>| 
				<a>教务处</a> | 
				<a href="http://lib.njit.edu.cn/"	target="_blank">图书馆</a></p>
			<p></p>
		</div>
	</div>
	</div>
</body>
</html>

